// Global Styles
* {
  box-sizing: border-box;
  font-family: $font-family;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: $bg-primary;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

.title {
  color: $title-color;
  font-size: $font-size_title;
  font-weight: $font-weight_title;
  margin: 0;
  text-align: center;

  span {
    color: $text-color;
  }
}

.sub-title {
  color: $title-color;
  font-size: $font-size_sub-title;
  font-weight: $font_weight_sub-title;
  margin: 0;

  span {
    color: $text-color;
  }
}

p {
  color: $text-color;
  font-size: $font-size_text;
  font-weight: $font-weight_text;

  span {
    color: $title-color;
    font-weight: $font-weight_sub-title;
  }
}

.capitalize {
  text-transform: capitalize;
}

.main-loading {
  background-color: rgba($bg-tertiary, 0.5);
  backdrop-filter: brightness(30%);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 15;
}

.form {
  margin-top: 1rem;
  position: relative;
  width: 100%;

  &-group {
    margin-bottom: 1rem;
    position: relative;
    width: 100%;

    input {
      background-color: rgba($bg-tertiary, 0.8);
      backdrop-filter: brightness(80%);
      border: none;
      border-radius: 5px;
      color: $text-color;
      font-size: 1.1rem;
      font-weight: 500;
      outline: 2px solid transparent;
      padding: 0.6rem;
      transition: $transition;
      width: 100%;

      &::placeholder {
        color: #22222240;
      }

      &:focus {
        outline: none;
      }

      &:hover {
        backdrop-filter: brightness(30%);
      }

      &.is-invalid {
        outline: 2px solid $bg-red;
      }
    }

    .messages-error {
      @include scale-in_XY;
      background-color: $bg-red;
      border-radius: 5px;
      color: $white-color;
      font-size: $font-size_button;
      font-weight: $font-weight_button;
      margin-top: 0.5rem;
      position: relative;
      padding: 0.5rem;
      text-align: center;
      transition: $transition;
      width: 100%;

      &.hide {
        @include scale-in_XY-reverse;
        margin-top: 0;
        padding: 0;
      }
    }
  }

  .btn-default {
    background-color: $bg-blue;
    float: right;

    &:hover {
      &::before {
        background-color: lighten($bg-blue, 15);
      }
    }
  }
}

.btn-default {
  border: none;
  border-radius: 5px;
  color: $white-color;
  cursor: pointer;
  font-size: $font-size_button;
  font-weight: $font-weight_button;
  position: relative;
  padding: 0.5rem 1.1rem;
  transition: $transition;
  z-index: 1;

  &::before {
    border-radius: 5px;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: $transition;
    width: 100%;
    z-index: -1;
  }

  &:hover {
    &::before {
      @include scale-in_XY;
    }
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
