.navbar {
  align-items: center;
  background-color: transparent;
  display: flex;
  height: 80px;
  justify-content: space-between;
  left: 0;
  position: fixed;
  padding: 0 2rem;
  top: 0;
  transition: $transition;
  width: 100vw;
  z-index: 10;

  &-logo {
    height: 90%;
    position: relative;

    img {
      height: 100%;
    }
  }

  &-bars {
    display: none;

    @media (max-width: 60rem) {
      display: flex;
      flex-direction: column;

      .bar {
        background-color: $bg-red;
        border-radius: 5px;
        cursor: pointer;
        height: 3px;
        transition: $transition;
        width: 30px;

        &:nth-child(1) {
          margin-bottom: 0.8rem;
        }

        &:nth-child(2) {
          margin-bottom: 0.8rem;
        }
      }

      &.active {
        .bar {
          &:nth-child(1) {
            height: 0;
            margin-bottom: 0;
            opacity: 0;
          }

          &:nth-child(2) {
            margin-bottom: 0;
            transform: rotate(45deg);
          }

          &:nth-child(3) {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }

  &-menu {
    align-items: center;
    display: flex;
    transition: $transition;

    &_item {
      background-color: transparent;
      border-radius: 5px;
      border: none;
      color: $text-color;
      cursor: pointer;
      font-size: $font-size_button;
      font-weight: $font-weight_button;
      margin-right: 1rem;
      position: relative;
      padding: 0.7rem 1rem;
      text-decoration: none;
      transition: $transition;
      z-index: 10;

      &:last-child {
        margin-right: 0;
      }

      &::before {
        background-color: transparent;
        border-radius: 5px;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: $transition;
        width: 100%;
        z-index: -1;
      }

      &:hover {
        color: $white-color;
        opacity: 0.7;

        &::before {
          @include scale-in_XY;
          background-color: $bg-red;
        }
      }

      &.active {
        color: $white-color;

        &::before {
          @include scale-in_XY;
          background-color: $bg-red;
        }

        &:hover {
          opacity: 1;
        }
      }
    }

    @media (max-width: 60rem) {
      background-color: rgba($bg-secondary, 0.7);
      backdrop-filter: brightness(80%);
      border-top: 2px solid $bg-red;
      flex-direction: column;
      height: auto;
      left: -100%;
      position: absolute;
      padding: 1rem 0;
      top: 80px;
      transform: scale(0);
      width: 100%;

      &.scrolled {
        top: 60px;
      }

      &_item {
        font-size: $font-size_sub-title;
        margin-top: 0.9rem;
        margin-right: 0;

        &:first-child {
          margin-top: 0;
        }
      }

      &.active {
        left: 0;
        transform: scale(1);
      }
    }
  }

  &.scrolled {
    background-color: rgba($bg-secondary, 0.7);
    backdrop-filter: brightness(80%);
    box-shadow: $bs-primary;
    height: 60px;
  }
}
